---
layout: styleguide
---
      <div class="d-none d-xl-block col-xl-2 ct-toc">
        <ul class="section-nav">
          <li class="toc-entry toc-h2">
            <a href="#example">Example</a>
          </li>
        </ul>
      </div>
      <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 ct-content" role="main">
        <div class="ct-page-title">
          <h1 class="ct-title" id="content">Tooltips</h1>
          <div class="avatar-group mt-3">
          </div>
        </div>
        <p class="ct-lead">Documentation and examples for Bootstrap’s powerful, responsive navigation header, the navbar. Includes support for branding, navigation, and more, including support for our collapse plugin.</p>
        <hr>
        <h2 id="example">Example</h2>
        <div class="ct-example">
          <ul class="nav nav-tabs-code" id="tooltips-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="tooltips-component-tab" data-toggle="tab" href="#tooltips-component" role="tab" aria-controls="tooltips-component" aria-selected="true">Result</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tooltips-html-tab" data-toggle="tab" href="#tooltips-html" role="tab" aria-controls="tooltips-html" aria-selected="false">HTML</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="tooltips-component" class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="tooltips-component-tab">
              <button type="button" class="btn btn-sm btn-white" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                Tooltip on top
              </button>
              <button type="button" class="btn btn-sm btn-white" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                Tooltip on right
              </button>
              <button type="button" class="btn btn-sm btn-white" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                Tooltip on bottom
              </button>
              <button type="button" class="btn btn-sm btn-white" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                Tooltip on left
              </button>
            </div>
            <div id="tooltips-html" class="tab-pane fade" role="tabpanel" aria-labelledby="tooltips-html-tab">
              <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-sm btn-white"</span> <span class="na">data-toggle=</span><span class="s">"tooltip"</span> <span class="na">data-placement=</span><span class="s">"top"</span> <span class="na">title=</span><span class="s">"Tooltip on top"</span><span class="nt">&gt;</span>
  Tooltip on top
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-sm btn-white"</span> <span class="na">data-toggle=</span><span class="s">"tooltip"</span> <span class="na">data-placement=</span><span class="s">"right"</span> <span class="na">title=</span><span class="s">"Tooltip on right"</span><span class="nt">&gt;</span>
  Tooltip on right
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-sm btn-white"</span> <span class="na">data-toggle=</span><span class="s">"tooltip"</span> <span class="na">data-placement=</span><span class="s">"bottom"</span> <span class="na">title=</span><span class="s">"Tooltip on bottom"</span><span class="nt">&gt;</span>
  Tooltip on bottom
<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-sm btn-white"</span> <span class="na">data-toggle=</span><span class="s">"tooltip"</span> <span class="na">data-placement=</span><span class="s">"left"</span> <span class="na">title=</span><span class="s">"Tooltip on left"</span><span class="nt">&gt;</span>
  Tooltip on left
<span class="nt">&lt;/button&gt;</span></code></pre></figure>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
