<footer>
    {% if site.data.information %}
    <div class="footer-cta">
        <div class="py-5">
            <div class="container my-4">
                {% assign info = site.data.information %}
                <div class="row fcta mb-5">
                    <div class="col-12 text-center">
                        <h1 class="mb-2">{{ info.footer_details.main_header_home }}</h1>
                        <p class="lead large mt-1">{{ info.footer_details.main_subheader_home }}</p>
                    </div>
                    <div class="col-12 mt-3 pt-xl-0 text-center">
                        <a href="{{ info.footer_details.cta_url }}">
                            <h3 class="font-weight-bold">{{ info.footer_details.cta_text }} <i
                                    class="icon-trending_neutral"
                                    style="top: 2px;position: relative;margin-left: 5px;"></i></h3>
                        </a>
                    </div>
                </div>
                {% if info.footer_details.partners %}
                <div class="text-center pt-1">
                    <!-- <p class="callout mt-2 mb-4">Empyr powers card-linked offer solutions for leading websites, apps, and national brands</p> -->
                    <div
                        class="row justify-content-center justify-content-lg-between text-center align-items-center mx-md-5">
                        {% for partnerlogo in info.footer_details.partners %}
                        <div class="col-4 mb-4 col-md mb-md-0">
                            <img src="{{ partnerlogo | absolute_url }}" class="img-logo"
                                style="opacity: 0.5; width: 100px" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="bottom">
        <div class="container">
            <div class="d-lg-flex justify-content-between py-3">
                <div class="small mb-2 mb-lg-0"><span class="mr-5"><img src="{{site.logo}}" width="100"></span></div>
                <div class="d-lg-flex small align-items-end align-items-lg-center justify-content-between">
                    <div class="my-auto">
                        <span class="d-block d-lg-inline ml-lg-3 mb-2 mb-lg-0">Patent Pending ©
                            2016-{{ 'now' | date: "%Y" }} | All Rights Reserved</span>
                        <a class="d-block d-lg-inline ml-lg-3 mb-2 mb-lg-0"
                            href={{ "/national-terms" | absolute_url }}><span>National Terms</span></a>
                        <a class="d-block d-lg-inline ml-lg-3 mb-2 mb-lg-0"
                            href={{ "/support" | absolute_url }}><span>Support</span></a>
                        <a class="d-block d-lg-inline ml-lg-3 mb-2 mb-lg-0"
                            href={{ "/merchant-enrollment" | absolute_url }}><span>Partner Login</span></a>
                    </div>
                    <div class="d-block ml-3">
                        <a class="transparent-link" href="https://www.instagram.com/empyrinc"><img
                                src="{{ "./assets/glyphs/instagram.svg" | absolute_url }}" width="16" /></a>
                        <a class="transparent-link ml-2" href="https://www.facebook.com/EmpyrInc/"><img
                                src="{{ "./assets/glyphs/facebook.svg" | absolute_url }}" width="16" /></a>
                        <a class="transparent-link ml-2" href="https://www.linkedin.com/company/empyr"><img
                                src="{{ "./assets/glyphs/linkedin.svg" | absolute_url }}" width="16" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
<script async src="{{ "assets/js/vendor/popper.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/vendor/bootstrap.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/vendor/aos.js" | absolute_url }}"></script>
<script async src="{{ "assets/js/vendor/barba.min.js" | absolute_url }}"></script>
<!-- <script src="/assets/js/vendor/smooth-scrollbar.js"></script> -->
<script src="{{ "assets/js/functions.js?cb=123" | absolute_url }}"></script>
<script src="{{ "assets/js/vendor/rellax.min.js" | absolute_url }}"></script>
{% if site.data.custom_code.footer_code_snippets %}
{{ site.data.custom_code.footer_code_snippets.code_snippets_footer }}
{% endif %}
{% if page.custom_code %}
{{ page.custom_code }}
{% endif %}
</body>

</html>
