<footer>
    <div class="footer-cta">
        <svg class="fsvg" preserveAspectRatio="xMinYMax meet" viewBox="0 0 1440 97" xmlns="http://www.w3.org/2000/svg">
            <path fill="#fff" fill-rule="evenodd" d="M1440,739.664063 L1440,751 L0,751 L0,654.103407
                L391.098799,654.103407 C403.055752,654.103407
                414.740019,657.675918 424.652497,664.362585
                L521.072794,729.404885 C530.985271,736.091551
                542.669538,739.664063 554.626491,739.664063 L1440,739.664063 Z" transform="translate(0 -654)"></path>
        </svg>
        <div class="container">
            {% if page.partners %}
            <div class="pb-5 mb-2 text-center">
                <p class="callout">Empyr powers card-linked offer solutions for leading websites, apps, and national brands</p>
                <div class="row justify-content-center justify-content-lg-between text-center align-items-center" style="opacity: 0.4">
                    {% for logo in page.partners %}
                    <div class="col-4 mb-4 col-md mb-md-0">
                        <img src="{{ logo | absolute_url }}" style="width: 100px; max-width: 65%" />
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if site.data.information %}
            {% assign info = site.data.information %}
            <div class="row fcta">
                <div class="col-12 col-xl-8 text-center text-xl-left">
                    <h1 class="mb-1">{{ info.footer_details.main_header_home }}</h1>
                    <p class="lead large mt-1">{{ info.footer_details.main_subheader_home }}</p>
                </div>
                <div class="col-12 col-xl-4 text-center text-xl-right pt-2 pt-xl-0">
                    <a href="{{ info.footer_details.cta_url }}">
                        <h3 class="font-weight-bold"><i class="fa fa-arrow-circle-right"></i>{{ info.footer_details.cta_text }}</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="bottom">
        <div class="container">
            <div class="d-lg-flex justify-content-between py-3 py-lg-2">
                <div class="small mb-2 mb-lg-0"><span class="text-muted mr-5"><img src="{{site.logo}}" width="100">.</span></div>
                <div class="d-flex small align-items-end justify-content-between">
                    <div class="my-auto"><a class="d-block d-lg-inline text-muted ml-lg-3 mb-2 mb-lg-0" href=""><span>&copy; 2019 Empyr. All right reserved.</span></a><a class="d-block d-lg-inline text-muted ml-lg-3 mb-2 mb-lg-0" href=""><span>Terms of Service</span></a><a class="d-block d-lg-inline text-muted ml-lg-3 mb-2 mb-lg-0" href=""><span>Legal</span></a><a class="d-block d-lg-inline text-muted ml-lg-3" href=""><span>Site map</span></a><a class="d-block d-lg-inline text-muted ml-lg-3" href=""><span>Site map</span></a></div>
                    <div class="d-none d-lg-block ml-3"><a class="transparent-link" href=""><img src="./assets/glyphs/instagram.svg" width="16" /></a><a class="transparent-link ml-2" href=""><img src="./assets/glyphs/facebook.svg" width="16" /></a></div>
                    <div class="d-lg-none"><a class="transparent-link" href=""><img src="./assets/glyphs/instagram.svg" width="24" /></a><a class="transparent-link ml-2" href=""><img src="./assets/glyphs/facebook.svg" width="24" /></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
</main>
<script>
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    $('document').ready(function () {
        document.documentElement.className = 'js';
        AOS.init({
            once: !0,
            duration: 400,
            disable: 'mobile',
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script>
    $('document').ready(function () {
        var transEffect = Barba.BaseTransition.extend({
            start: function () {
                this.newContainerLoading.then(val => this.fadeInNewcontent($(this.newContainer)));
            },
            fadeInNewcontent: function (nc) {
                nc.hide();
                var _this = this;
                $(this.oldContainer).fadeOut(400, "swing").promise().done(() => {
                    $(window).scrollTop(0);
                    nc.css('visibility', 'visible');
                    nc.fadeIn(400, "swing", function () {
                        _this.done();
                    })
                });
            }
        });
        Barba.Pjax.getTransition = function () {
            return transEffect;
            AOS.refresh();
        }
        Barba.Pjax.start();
        Barba.Prefetch.init();
        Barba.Dispatcher.on('transitionCompleted', function (currentStatus, prevStatus) {
            if (prevStatus) {
                setTimeout(function () {

                    $('html').find('script').each(function (i, script) {
                        var $script = $(script);
                        $.ajax({
                            url: $script.attr('src'),
                            cache: true,
                            dataType: 'script',
                            success: function () {
                                $script.trigger('load');
                            }
                        });
                    });
                }, 1);
            }

        });
        Barba.Dispatcher.on('newPageReady', function (current, prev, container) {
            history.scrollRestoration = 'manual';
        });

        Barba.Dispatcher.on('newPageReady', function (currentStatus) {
            const link = currentStatus.url.split(window.location.origin)[1].substring(1); // get path of current page

            const navigation = document.querySelector('.navbar-nav');
            const navigationLinks = navigation.querySelectorAll('.nav-link');
            const navigationLinkIsActive = navigation.querySelector(`[href="${link}"]`);

            Array.prototype.forEach.call(navigationLinks, (navigationLink) => navigationLink.classList.remove('active')); // remove CSS class 'is-active' from all .navigation__links

            navigationLinkIsActive.classList.add('active'); // add CSS class to current .navigation__link

        });

    });
</script>
<!-- <script src="/assets/js/vendor/smooth-scrollbar.js"></script>
<script>
    var Scrollbar = window.Scrollbar;
$('body').addClass('smooth');
    const options = {
        damping: 0.1,
        thumbMinSize: 20,
        renderByPixels: true,
        alwaysShowTracks: false,
        continuousScrolling: true,
        wheelEventTarget: null
    };
    Scrollbar.init(document.querySelector("html:not(.no-js) body.smooth #main-scrollbar"), options);
</script> -->
<script>
    $(function () {
        $('body').addClass('is-loaded');

        //   siteFooter();
        // 	$(window).resize(function() {
        // 		siteFooter();
        // 	});

        // function siteFooter() {
        // 	var siteContent = $('.barba-container');
        // 	var siteContentHeight = siteContent.height();
        // 	var siteContentWidth = siteContent.width();

        // 	var siteFooter = $('footer');
        // 	var siteFooterHeight = siteFooter.height();
        // 	var siteFooterWidth = siteFooter.width();

        // 	console.log('Content Height = ' + siteContentHeight + 'px');
        // 	console.log('Content Width = ' + siteContentWidth + 'px');
        // 	console.log('Footer Height = ' + siteFooterHeight + 'px');
        // 	console.log('Footer Width = ' + siteFooterWidth + 'px');

        // 	siteContent.css({
        // 		"margin-bottom" : siteFooterHeight
        //     });
        //     $('footer').show();
        // };

    });
</script>
</body>

</html>
