<section class="pt-0 pt-md-4 pb-md-5">
  <div class="testimonials reviews container full">
    <h1 class="text-md-center mb-2 mb-md-5 pr-4 pr-md-0">{{ page.user_testimonials.title }}</h1>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for item in page.user_testimonials.testimonials %}
        <div class="swiper-slide eq">
          <div class="card">
            <div class="card-body">
              <div class="mb-2">
                <img class="rounded" src="{{ item.logo | absolute_url }}" height="40" />
              </div>
              <p class="lead mb-2 mt-0">"{{ item.quote }}"</p>
              <div class="media align-items-center">
                {% if item.user_photo == "" %}
                  {% else %}
                  <div class="mr-2">
                  <img class="rounded" src="{{ item.user_photo | absolute_url | default:"/img/genericUser.jpg" | absolute_url }}" width="60" height="60" />
                </div>
                  {% endif %}
                <div class="media-body">
                  <h6 class="mb-0">{{ item.person_name }}</h6>
                  <h6 class="text-muted mb-0 font-weight-400">{{ item.program_name }} user</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
