<section class="border-top py-md-5">
  <div class="testimonials reviews container full">
    <h1 class="text-center pb-4 mb-4">{{ page.user_testimonials.title }}</h1>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for item in page.user_testimonials.testimonials %}
        <div class="swiper-slide eq">
          <div class="card">
            <div class="card-body">
              <div class="mb-2">
                <img class="rounded" src="{{ item.logo | absolute_url }}" height="50" />
              </div>
              <p class="lead mb-2 mt-0">"{{ item.quote }}"</p>
              <div class="media align-items-center">
                <div class="mr-2">
                  {% if item.user_photo == "" %}
                  <img class="rounded" src="/img/genericUser.jpg" width="60" height="60" />
                  {% else %}
                  <img class="rounded" src="{{ item.user_photo | absolute_url | default:"/img/genericUser.jpg" | absolute_url }}" width="60" height="60" />
                  {% endif %}
                </div>
                <div class="media-body">
                  <h6 class="mb-0">{{ item.person_name }}</h6>
                  <p class="small mb-0">{{ item.program_name }} user</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
