.dropdown,
.dropup,
.dropright,
.dropleft {
    display: inline-block;
}

.dropdown-menu {
    min-width: 22rem;
    padding: $dropdown-padding-y $dropdown-padding-x;
    @include border-radius($dropdown-border-radius);
    @include box-shadow($dropdown-box-shadow);
    border: none;
    .dropdown-item {
        // padding: .5rem 1rem;
        font-size: $font-size-sm;
        > i,
        > svg {
            margin-right: 1rem;
            font-size: 1rem;
            vertical-align: -17%;
        }
    }
}

.dropdown-item {
    display: block;
    width: 100%; // For `<button>`s
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    clear: both;
    font-weight: $font-weight-normal;
    color: $dropdown-link-color;
    text-align: inherit; // For `<button>`s
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background-color: transparent; // For `<button>`s
    border: 0; // For `<button>`s
  
    @include hover-focus {
      color: $dropdown-link-hover-color;
      text-decoration: none;
      @include gradient-bg($dropdown-link-hover-bg);
    }
  
    &.active,
    &:active {
      color: $dropdown-link-active-color;
      text-decoration: none;
      @include gradient-bg($dropdown-link-active-bg);
    }
  
    &.disabled,
    &:disabled {
      color: $dropdown-link-disabled-color;
      background-color: transparent;
      // Remove CSS gradients if they're enabled
      @if $enable-gradients {
        background-image: none;
      }
    }
  }
  
.dropdown-header {
    padding-left: 1rem;
    padding-right: 1rem;
    color: $gray-100;
    font-size: .625rem;
    text-transform: uppercase;
    font-weight: 700;
} 


// Inverse dropdown menu

.dropdown-menu-inverse {
    background: #282f37;
    border-color: #242a31;

    .dropdown-item {
        color: #dadada;

        &:active,
        &:focus,
        &:hover {
            color: #fff;
            background: #31353e;
        }
    }

    .dropdown-divider {
        background: #191e23;
    }
}

// Dropdown elements

.dropdown-menu {
    a.media {

        > div {
            &:first-child {
                line-height: 1;
            }
        }

        p {
            color: $gray-600;
        }
        &:hover {
            .heading, p {
                color: theme-color("default") !important;
            }
        }
    }
}

// Dropown: Sizes

.dropdown-menu-sm {
    min-width: 100px;
    border: $border-radius-lg;
}

.dropdown-menu-lg {
    min-width: 260px;
    border-radius: $border-radius-lg;
}

.dropdown-menu-xl {
    min-width: 450px;
    border-radius: $border-radius-lg;
}
