.card {
    position: relative;
    border: $card-border-width solid $card-border-color;
}

.profile-page {
    .card-profile {
        margin-top: -150px;

        .card-profile-image {
            position: relative;
            //min-height: 130px;

            img {
                max-width: 180px;
                border-radius: $border-radius;
                @extend .shadow;
                transform: translate(-50%,-30%);
                position: absolute;
                left: 50%;
                transition: $transition-base;

                &:hover {
                    transform: translate(-50%, -33%);
                }
            }
        }

        .card-profile-stats {
            padding: 1rem 0;

            > div {
                text-align: center;
                margin-right: 1rem;
                padding: .875rem;

                &:last-child {
                    margin-right: 0;
                }

                .heading {
                    font-size: 1.1rem;
                    font-weight: bold;
                    display: block;
                }
                .description {
                    font-size: .875rem;
                    color: $gray-500;
                }
            }
        }

        .card-profile-actions {
            padding: .875rem;
        }

        @include media-breakpoint-down(xs) {
            .card-profile-actions {
                margin-top: 110px;
            } 
        }

        @include media-breakpoint-between(sm, md) {
            .card-profile-stats {
                margin-top: 30px;
            }
        }
    }
}

// Card with blockquotes

.card {
    .card-blockquote {
        padding: 2rem;
        position: relative;

        .svg-bg {
            display: block;
            width: 100%;
            height: 95px;
            position: absolute;
            top: -95px;
            left: 0;
        }
    }
}

// Animated cards

.card-lift--hover {
    &:hover {
        transform: translateY(-20px);
        @include transition($transition-base);
    }
}

.section-break {
    background: #f2f2f2;
    text-align: center;
    line-height: 30px;
    font-size: 11px;
}

.bg-cover {
    // background-color: $blue-black;
    // background-image: linear-gradient(-134deg, #00AEFF 0%, #0F51FB 100%);
    // background-color: #11131c;
    background-image: url(/assets/img/devices.png);
    background-color: #0F51FB;
    padding: 90px 0 120px;
    background-size: 65%;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 0 0 0 90px;
    // border-radius: 0 0 60px 0;
    // clip-path: polygon(0px 0px, 100% 0, 100% 100%, 28% 100%, 20% 89%, 0 89%);
    // &:before {
    //     content: '';
    //     width: 398px;
    //     height: 38px;
    //     -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    //     clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    //     background: green;
    //     display: block;
    //     position: absolute;
    //     top: 1px;
    //     left: 1px;
    // }
}

.eq {
    display: flex;
}

.site-header {
    background-color: $black;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #0000ff;
    transition: ease-in-out color .15s;

    &.current {
        color: $white !important;
    }
}

.site-header a:hover {
    color: $white;
    text-decoration: none;
}

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

footer {
    background-color: $black;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal>* {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}


