@at-root {
     @-ms-viewport{
        width: device-width;
    }
}
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $body-color;
    background-color: $body-bg;
    overflow-x: hidden;
}

iframe {
    border: 0;
}

figcaption,
figure,
main {
    display: block;
}

main {
	//position: relative;
	overflow: hidden;
    z-index: 1;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 1.5rem;
}

a {
    color: $link-color;
    text-decoration: $link-decoration;
    background-color: transparent; // Remove the gray background on active links in IE 10.
    -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
  
    @include hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
      span {
        border-bottom: none;
      }
    }
  
    &.transparent-link {
      opacity: 0.3;
  
      &:hover {
        opacity: 1;
      }
    }
  
    &.transparent-invert-link {
      opacity: 1;
  
      &:hover {
        opacity: 0.3;
      }
    }
  
    &.action-link {
      font-weight: 500;
  
      &::after {
        content: '';
        display: inline-block;
        width: 5.5px;
        height: 5.5px;
        border-top: 1.5px solid;
        border-right: 1.5px solid;
        transform: rotate(45deg);
        position: relative;
        margin: -1px 0 0 6px;
        vertical-align: middle;
        top: -1px;
      }
    }
}
