// General styles

p {
	// font-size: $paragraph-font-size;
	// font-weight: $paragraph-font-weight;
	// line-height: $paragraph-line-height;
} 

.lead {
	font-size: $lead-font-size;
  	font-weight: $lead-font-weight;
	// line-height: $paragraph-line-height;
// 	margin-top: 1rem;

	+ .btn-wrapper {
		margin-top: 3rem;
	}
}

.description {
	font-size: $font-size-sm;
}

// Section titles

.display-1,
.display-2,
.display-3,
.display-4 {
	span {
		display: block;
		font-weight: $font-weight-light;
	}
}

.display-4 {
  font-size: $display4-size * 0.758;
  font-weight: $display4-weight;
  line-height: $display4-line-height;
  margin-bottom: $display4-margin-bottom;

  @include media-breakpoint-up('sm') {
    font-size: $display4-size * 0.714;
  }

  @include media-breakpoint-up('xl') {
    font-size: $display4-size;
  }
}
