---
layout: standard-page_basic
---
    <div class="content">
        <h5 class="mb-2">Current Open Positions</h5>
        <div>
            {% for project in site.projects %}
            <div class="mb-2">
                <div class="card job">
                    <a href="{{ project.url | absolute_url }}" class="text-dark">
                        <div class="card-body p-2 p-md-3 pr-5 mr-0 mr-md-5">
                            <h5 class="text-primary font-weight-600" style="margin-bottom: 4px;font-size: 21px;">{{ project.title }}</h5>
                            <span class="small mb-1 d-block text-muted font-weight-400">{{ project.location }}, {{ project.timing }}</span>
                            <p style="line-height: 1.6; font-size: 16px">{{ project.description }}...</p>
                            <p class="small mb-0 font-weight-400">{{ project.date | date: '%B %d, %Y' }}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
