---
layout: default
---
{% comment %}
A general page layout. Used by default for all content on the site.
{% endcomment %}
{% if page.custom_css %}
{{ page.custom_css }}
{% endif %}
<section class="section header-bg" style="position: relative;padding-bottom: 140px;">
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9 col-xxl-7" style="max-width: 800px">
                <p class="small text-white text-center mb-1 opacity-8" style="letter-spacing: 3.3px; font-size: 12px">
                    PARTNER WITH EMPYR
                </p>
                <h1 class="mb-3 text-center text-white pb-2 font-weight-700">{{ page.heading | default: page.title }}
                </h1>
                <div class="card bg-gray-10 shadow border-0 h-auto">
                    <div class="card-body px-3 pt-2 pb-3 px-md-4 pt-md-1 pb-md-4">
                        <p class="text-center pt-2">Please complete the form below and we will be in touch shortly.</p>
                        {% if page.show_contact %}
                        {{ page.custom_text }}
                        {% endif %}
                        {% if page.custom_copy %}
                        {% for item in page.custom_copy %}
                        {{ item.custom_text }}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
