---
layout: default
---
{% comment %}
A general page layout. Used by default for all content on the site.
{% endcomment %}
{% if page.custom_css %}
{{ page.custom_css }}
{% endif %}
<section class="section section-shaped section-lg header-bg" style="position: relative">
        <div class="container pt-4">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9 col-xxl-7" style="max-width: 800px">
                <p class="small text-white text-center mb-1 opacity-8" style="letter-spacing: 3.3px; font-size: 12px">
                   PARTNER WITH EMPYR
                </p>
                    <h1 class="display-4 mb-2 text-center text-white pb-2">{{ page.heading | default: page.title }}</h1>
              <div class="card bg-gray-10 shadow border-0 h-auto">
                <!-- <div class="card-header bg-white pb-5">
                        <h1 class="mb-2 display-4 text-center text-whit pb-2" data-aos="basic" data-aos-delay="50">{{ page.heading | default: page.title }}</h1>
                </div> -->
                <div class="card-body px-3 pt-2 pb-3 px-md-4 pt-md-1 pb-md-4">
                  {% if page.show_contact %}
                  {{ page.custom_text }}
                  {% endif %}
                  {% if page.custom_copy %}
                  {% for item in page.custom_copy %}
                  {{ item.custom_text }}
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<!-- <div class="sub">
    <div class="hero sub default">
        <div>
            <div class="container pt-5">
                <div class="row poster-feature-row pt-5">
                        <div class="col-12 col-md-10 order-1 order-md-1 pt-2 pb-3 modify">
                        {% if page.tagline and page.tagline != "" %}
                        <div data-aos="basic">
                            <h4 class="tag">{{ page.tagline }}</h4>
                        </div>
                        {% endif %}
                        <h1 class="mb-2 display-4" data-aos="basic" data-aos-delay="50">{{ page.heading | default: page.title }}</h1>
                        {% if page.sub_heading and page.sub_heading != "" %}
                        <div class="opacity-6"><h5 class="text-blue-black mb-4" data-aos="basic" data-aos-delay="150"><small class="font-weight-normal">{{ page.sub_heading }}</small></h5></div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="bg-gray-10 content content-narrow py-5">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-8">
                    {% if page.custom_css %}
                    {{ page.custom_css }}
                    {% endif %}
                    {% if page.custom_text %}
                    {{ page.custom_text }}
                    {% endif %}

                    {% if page.custom_copy %}
                    {% for item in page.custom_copy %}
                    {{ item.custom_text }}

                    {% endfor %}
                    {% endif %}
                    <div class="modifier">
                {{ content }}
                    </div>
            </div>
        </div>
    </div>
</div> -->
