---
layout: default
---
{% comment %}
A general page layout. Used by default for all content on the site.
{% endcomment %}

<div class="sub">
    <div class="hero sub default">
        <div>
            <div class="container pt-5">
                <div class="row poster-feature-row pt-5">
                        <div class="col-12 col-md-10 order-1 order-md-1 pt-2 pb-3 modify">
                        {% if page.tagline and page.tagline != "" %}
                        <div data-aos="basic">
                            <h4 class="tag">{{ page.tagline }}</h4>
                        </div>
                        {% endif %}
                        <h1 class="mb-2 display-4" data-aos="basic" data-aos-delay="50">{{ page.heading | default: page.title }}</h1>
                        {% if page.sub_heading and page.sub_heading != "" %}
                        <div class="opacity-6"><h5 class="text-blue-black mb-4" data-aos="basic" data-aos-delay="150"><small class="font-weight-normal">{{ page.sub_heading }}</small></h5></div>
                        {% endif %}
                    </div>
                    <!-- <div class="col-12 col-md-3 order-1 order-md-2 pl-md-0 mb-4 mb-md-0"><img class="w-100" src="./assets/pictures/cover-2.png" /></div> -->
                </div>
            </div>

        </div>
    </div>
</div>
<div class="bg-gray-10 content content-narrow py-5">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-8">
                    {% if page.custom_css %}
                    {{ page.custom_css }}
                    {% endif %}
                    {% if page.custom_text %}
                    {{ page.custom_text }}
                    {% endif %}

                    {% if page.custom_copy %}
                    {% for item in page.custom_copy %}
                    {{ item.custom_text }}

                    {% endfor %}
                    {% endif %}
                    <div class="modifier">
                {{ content }}
                    </div>
            </div>
        </div>
    </div>
    {% include staff.html %}
</div>
