---
layout: default
---

<!-- {% include hero.html %} -->
<!-- Hero -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between align-items-center pb-5">
            <div class="col-12 col-md-12 order-1 order-md-1">
                <h1 class="display-2">{{ page.heading | default: page.title }}</h1>
                {% if page.sub_heading and page.sub_heading != "" %}
                <p class="large mb-4 pr-5 mr-5">{{ page.sub_heading }}</p>
                {% endif %}
                {% if page.hero_button %}
                <a href="{{ page.hero_button.href | absolute_url }}" class="btn btn-lg btn-primary">{{ page.hero_button.text }}</a>
                {% endif %}
                {% if page.second_button %}
                <a href="{{ page.second_button.href | absolute_url }}" class="btn btn-lg btn-white">{{ page.second_button.text }}</a>
                {% endif %}
            </div>
            <!-- <div class="col-12 col-md-4 order-2 order-md-2 pl-md-0 mb-4 mb-md-0">
              <img class="w-100" src="/assets/pictures/cover-1.png" />
            </div> -->
        </div>
    </div>
</div>
{% if page.partners %}
<div class="container shad">
    <div class="py-4">
        <div class="row justify-content-center justify-content-lg-between text-center align-items-center">
            {% for logo in page.partners %}
            <div class="col mt-3 mb-lg-0">
                <img src="{{ logo | absolute_url }}" style="width: 100px; max-width: 70%" />
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<!-- End Hero -->

<!-- <ul>
    <span> This is for the child menus </span>
        {% for item in site.menus.header %}
          <li class="menu-item-{{ loop.index }}">
            <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
            {% if item.children %}
              <ul class="sub-menu">
              {% for item in item.children %}
                <li class="menu-item-{{ loop.index }}">
                  <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        </ul> -->
{% assign stripped_content = content | strip_newlines %}
{% if content and stripped_content != "" %}
<section class="about">
    <div class="container pure-g">
        <div class="pure-u-1">
            <div class="content content-narrow">
                {{ content }}
            </div>
        </div>
    </div>
</section>
{% endif %}

<div class="bg-gradient-lighter content">
    <div class="container py-4">
        <div class="row pt-12 pt-5">
            <div class="col-12">
                <h1>{{ page.primary_body_copy_headline }}</h1>
            </div>
            <div class="col-md-6">
                <p>Accelerate in-store revenue with card-linked offer campaigns on our exclusive publisher network.
                    There’s no charge for clicks or impressions, and purchases are tracked in real-time, providing full
                    online to offline attribution.</p>
            </div>
        </div>
<!-- {% if page.show_mainfeatures %}  -->
{% if page.mainfeatures %}
<div class="row pt-2 pb-5">
        {% for item in page.mainfeatures %}
        <div class="eq col-12 col-md-3 mb-4 mb-md-0">
          <div class="card rounded-lg">
            <div class="card-body">
              <img class="mb-1" src="{{ item.icon | absolute_url }}" alt="" width="32">
              <h5 class="mb-1">{{ item.heading }}</h5>
              <div class="small">{{ item.description }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
{% endif %}
<!-- {% endif %} -->
    </div>
</div>

<div class="container">

        <div class="row justify-content-between align-items-center py-5 my-2">
          <div class="col-12 col-md-5 order-2 order-md-1">
            <h4 class="mb-3 tag">Publisher Network</h4>
            <h1>316M+ Consumers, Unlimited Revenue</h1>
            <p class="mb-3">Easily deploy high performance card-linked offer campaigns on some of the best sites and apps, reaching 316M+ consumers at lightning speed.</p>
            <button class="btn btn-lg btn-bb">Learn More</button>
          </div>
          <div class="col-12 col-md-6 order-1 order-md-2 pl-md-0 mb-4 mb-md-0">
            <img class="w-100" src="/assets/pictures/image-555x380.png" />
          </div>
        </div>
        <div class="row justify-content-between align-items-center py-5 my-2">
          <div class="col-12 col-md-6 pl-md-0 mb-4 mb-md-0">
            <img class="w-100" src="/assets/pictures/image-555x380.png" />
          </div>
          <div class="col-12 col-md-5">
            <h4 class="mb-3 tag">Pay-Per-Revenue</h4>
            <h1>Minimum 10X ROAS, Guaranteed.</h1>
            <p class="mb-3">Empyr powers CPR, a pay-per-revenue model that drives motivated customers to your stores without charging for clicks and impressions. You only pay a small fee when the sale happens.</p>
            <button class="btn btn-lg btn-bb">Learn More</button>
          </div>
        </div>
        <div class="row justify-content-between align-items-center py-5 my-2">
          <div class="col-12 col-md-5 order-2 order-md-1">
            <h4 class="mb-3 tag">Real-Time Analytics</h4>
            <h1>100% In-Store Revenue Attribution</h1>
            <p class="mb-3">No more guesswork, no more wasting time with manual reporting. Track online impressions all the way through to in-store sales with personalized real-time analytics.</p>
            <button class="btn btn-lg btn-bb">Learn More</button>
          </div>
          <div class="col-12 col-md-6 order-1 order-md-2 pl-md-0 mb-4 mb-md-0">
            <img class="w-100" src="/assets/pictures/image-555x380.png" />
          </div>
        </div>
        <div class="swiper-container py-5" style="padding-bottom: 60px;">
          <div class="swiper-wrapper">
            <div class="swiper-slide col-12 col-md-4">
              <p class="lead mb-3">“Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
              <div class="media align-items-center">
                <div class="mr-2">
                  <img class="rounded" src="/assets/pictures/userpic.png" width="60" height="60" />
                </div>
                <div class="media-body">
                  <p class="mb-0"><span class="weight-500">Name Surname</span>
                  </p>
                  <p class="small mb-0">Founder, Acme Company</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide col-12 col-md-4">
              <p class="lead mb-3">“Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
              <div class="media align-items-center">
                <div class="mr-2">
                  <img class="rounded" src="/assets/pictures/userpic.png" width="60" height="60" />
                </div>
                <div class="media-body">
                  <p class="mb-0"><span class="weight-500">Name Surname</span>
                  </p>
                  <p class="small mb-0">Founder, Acme Company</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide col-12 col-md-4">
              <p class="lead mb-3">“Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
              <div class="media align-items-center">
                <div class="mr-2">
                  <img class="rounded" src="/assets/pictures/userpic.png" width="60" height="60" />
                </div>
                <div class="media-body">
                  <p class="mb-0"><span class="weight-500">Name Surname</span>
                  </p>
                  <p class="small mb-0">Founder, Acme Company</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide col-12 col-md-4">
              <p class="lead mb-3">“Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
              <div class="media align-items-center">
                <div class="mr-2">
                  <img class="rounded" src="/assets/pictures/userpic.png" width="60" height="60" />
                </div>
                <div class="media-body">
                  <p class="mb-0"><span class="weight-500">Name Surname</span>
                  </p>
                  <p class="small mb-0">Founder, Acme Company</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
        <div class="row justify-content-center text-center pt-5">
          <div class="col-12 col-md-8">
            <h1>Solutions for all company types</h1>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12 col-md-4 mb-3 mb-md-0">
            <div class="card shadow-sm">
              <div class="card-body">
                <h2>National Brands</h2>
                <div><span class="weight-500">Tagline</span><span class="mx-2">•</span><span>Caption</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-3 mb-md-0">
            <div class="card shadow-sm">
              <div class="card-body">
                <h2>Websites & Apps</h2>
                <div><span class="weight-500">Tagline</span><span class="mx-2">•</span><span>Caption</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h2>Channel Partners</h2>
                <div><span class="weight-500">Tagline</span><span class="mx-2">•</span><span>Caption</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if page.partners %}
        <div class="pb-5 pt-3">
                <div class="row justify-content-center justify-content-lg-between text-center align-items-center">
                {% for logo in page.partners %}
                <div class="col mt-3 mb-lg-0">
                  <img src="{{ logo | absolute_url }}" style="width: 100px; max-width: 65%" />
                </div>
                {% endfor %}
            </div>
          </div>
          {% endif %}
      </div>
