---
layout: default
---

<!-- <ul>
    <span> This is for the child menus </span>
        {% for item in site.menus.header %}
          <li class="menu-item-{{ loop.index }}">
            <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
            {% if item.children %}
              <ul class="sub-menu">
              {% for item in item.children %}
                <li class="menu-item-{{ loop.index }}">
                  <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        </ul> -->


{% assign stripped_content = content | strip_newlines %}
{% if content and stripped_content != "" %}
<section class="about">
	<div class="container pure-g">
		<div class="pure-u-1">
			<div class="content content-narrow">
				{{ content }}
			</div>
		</div>
	</div>
</section>
{% endif %}

{% include mainfeatures.html %}

{% include news.html %}

{% include partners.html %}

{% include staff.html %}