---
layout: standard-page_basic
---
<style>
.display-custom {
    margin-bottom: 15px !important;
}
</style>
    <div class="content">
        <h5 class="mb-2">Current Open Positions</h5>
        {% assign sorted = site.careers | sort: 'date' | reverse %}
        {% for project in sorted %}
            <div class="mb-2">
                <div class="card job">
                    <a href="{{ project.url | absolute_url }}" class="text-dark">
                        <div class="card-body p-2 p-md-3 pr-5 mr-0 mr-md-5">
                            <h5 class="text-primary font-weight-600" style="margin-bottom: 4px;font-size: 21px;">{{ project.title }}</h5>
                            <span class="small mb-1 d-block text-muted font-weight-400">{{ project.location }}, {{ project.timing }}</span>
                            <p style="line-height: 1.6; font-size: 16px">{{ project.description }}...</p>
                            <p class="small mb-0 font-weight-400">{{ project.date | date: '%B %d, %Y' }}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <h5 class="border-top pt-4 mt-5">Empyr Is An Equal Opportunity Employer</h5>
            <p class="small font-weight-400" style="max-width: 100%">Empyr is committed to maintaining a community which recognizes and values the inherent worth and dignity of every person; fosters mutual respect among its members; and encourages each individual to strive to reach his or her own potential. Empyr prohibits discrimination against any persons on basis of sex, age, color, race, religion, marital status, national origin, ancestry, sexual orientation, physical & mental disability, medical condition, genetic information, veteran status, or any other basis protected by federal, state or local law.</p>
    </div>
