---
layout: default
---
{% comment %}
A general page layout. Used by default for all content on the site.
{% endcomment %}

<div>
        <div class="hero d-flex py-5" style="position: relative !important;">
                <div class="container full container-fluid d-flex flex-column
                justify-content-between pt-5 pb-2">
                    <div class="break-out poster poster-home z1">
                        <div class="row justify-content-between align-items-center
                        flex-grow">
                            <div class="col-12 col-md-10 poster-home-text">
                            <p class="small mb-1 text-muted" style="letter-spacing: 3.3px; font-size: 12px" data-aos="basic">
                                ABOUT EMPYR
                             </p>
                                <h1 class="display-4 mb-1 mb-sm-2 text-dark font-weight-light" style="letter-spacing: -1.2px;
                                line-height: 1.5;" data-aos="basic" data-aos-delay="100">{{ page.heading | default:page.title }}</h1>
                                {% if page.sub_heading and page.sub_heading != "" %}
                                <p class="mb-2 pt-1 pt-sm-0 text-muted" style="max-width: 100% !important; font-size: 16px;" data-aos="basic" data-aos-delay="200">{{ page.sub_heading }}</p>
                                {% endif %}
                                {% if page.hero_button.text and page.hero_button.text != "" %}
                                <div class="pb-2 d-flex flex-column flex-md-row" data-aos="basic" data-aos-delay="250">
                                    {% if page.hero_button %}
                                    <a href="{{ page.hero_button.href | absolute_url }}" class="btn btn-lg btn-white mb-2 mb-md-0
                                    primary">{{ page.hero_button.text }}</a>
                                    {% endif %}
                                    {% if page.second_button %}
                                    <a href="{{ page.second_button.href | absolute_url
                                    }}" class="btn btn-lg btn-secondary secondary d-non
                                    d-lg-block">{{ page.second_button.text }}</a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <svg class="wave" preserveAspectRatio="xMinYMax meet" viewBox="0 0 1440 97" xmlns="http://www.w3.org/2000/svg">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(0.000000, -583.000000)" fill="#f9fafb">
                            <path d="M1440,680 L0,680 L0,583 L373.174127,583 C383.828357,583 394.290441,585.836954 403.485166,591.2193 L522.240124,660.735284 C531.434849,666.11763 541.896934,668.954584 552.551164,668.954584 L1440,668.954584 L1440,680 Z" id="Path"></path>
                        </g>
                    </g>
                </svg> -->
                <div class="header-bg" style="background:#fff">
                </div>
            </div>
</div>
<div class="bg-gray-10 content content-narrow py-5">
    <div class="container">
        <div class="row">
            <div class="col-8">
                    <div class="modifier">
                {{ content }}
                    </div>
            </div>
        </div>
    </div>
    {% if page.custom_css %}
    {{ page.custom_css }}
    {% endif %}
    {% if page.custom_text %}
    {{ page.custom_text }}
    {% endif %}

    {% if page.custom_copy %}
    {% for item in page.custom_copy %}
    {{ item.custom_text }}

    {% endfor %}
    {% endif %}
    {% include staff.html %}
</div>
