---
layout: default
---
{% include sub-hero.html %}

{% assign stripped_content = content | strip_newlines %}
{% if content and stripped_content != "" %}
<section class="about">
    <div class="container pure-g">
        <div class="pure-u-1">
            <div class="content content-narrow">
                {{ content }}
            </div>
        </div>
    </div>
</section>
{% endif %}

<div class="bg-gradient-lighter">
    <div class="container pt-4">
        {% if page.mainfeatures %}
        <div class="card-body card shadow-sm">
            <div class="row py-2">
                {% for item in page.mainfeatures %}
                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <img class="mb-2" src="http://localhost:4001/uploads/2019/05/rectangle-6.svg" alt="" width="32">
                    <h4 class="mb-1">{{ item.heading }}</h4>
                    <div class="small">{{ item.description }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if page.partners %}
        <div class="container">
            <div class="py-4">
                <div class="row justify-content-center justify-content-lg-between text-center align-items-center">
                    {% for logo in page.partners %}
                    <div class="col mt-3 mb-lg-0">
                        <img src="{{ logo | absolute_url }}" style="width: 100px; max-width: 70%" />
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}


        <div class="row pt-12 pt-5">
            <div class="col-12">
                <h1>{{ page.primary_body_copy_headline }}</h1>
            </div>
            <div class="col-md-6">
                <p>{{ page.primary_body_copy_subheadline }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
        {% if page.section_one %}
    <div class="row justify-content-between align-items-center py-5">
        <div class="col-12 col-md-5 order-2 order-md-1">
            <h4 class="mb-3 tag">{{ page.section_one.tagline }}</h4>
            <h1>{{ page.section_one.section_header }}</h1>
            <p class="mb-3">{{ page.section_one.section_body_copy }}</p>
            <button class="btn btn-lg btn-bb">Learn More</button>
        </div>
        
        <div class="col-12 col-md-6 order-1 order-md-2 pl-md-0 mb-4 mb-md-0">
            <img class="w-100" src="/assets/pictures/image-555x380.png" />
        </div>
    </div>
    {% endif %}
    {% if page.section_two %}
    <div class="row justify-content-between align-items-center py-5">
        <div class="col-12 col-md-6 pl-md-0 mb-4 mb-md-0">
            <img class="w-100" src="/assets/pictures/image-555x380.png" />
        </div>
        <div class="col-12 col-md-5">
            <h4 class="mb-3 tag">{{ page.section_two.tagline }}</h4>
            <h1>{{ page.section_two.section_header }}</h1>
            <p class="mb-3">{{ page.section_two.section_body_copy }}</p>
            <button class="btn btn-lg btn-bb">Learn More</button>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-between align-items-center py-5">
        <div class="col-12 col-md-5 order-2 order-md-1">
            <h4 class="mb-3 tag">Real-Time Analytics</h4>
            <h1>100% In-Store Revenue Attribution</h1>
            <p class="mb-3">No more guesswork, no more wasting time with manual reporting. Track online impressions all
                the way through to in-store sales with personalized real-time analytics.</p>
            <button class="btn btn-lg btn-bb">Learn More</button>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2 pl-md-0 mb-4 mb-md-0">
            <img class="w-100" src="/assets/pictures/image-555x380.png" />
        </div>
    </div>
</div>



<div class="bg-gradient-lighter">
    <div class="container pt-4 text-center">

        {% if page.all_features %}
        <h1>{{ page.all_features_headline }}</h1>
        <div class="row pt-2 pb-5">
            {% for item in page.all_features %}
            <div class="col-12 col-md-4 mb-2">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img class="mb-2" src="{{ item.icon | absolute_url }}" alt="" width="32">
                        <h4 class="mb-1">{{ item.heading }}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}



        {% if page.case_studies %}
        <div class="text-left">
            <div class="row pt-12 pt-5">
                <div class="col-12 col-md-6">
                    <h1>Case Studies Title</h1>
                    <p>Case Studies Sub-text</p>
                </div>
            </div>
            <div class="row pt-3">
                {% for item in page.case_studies %}
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img class="mb-2" src="{{ item.partner_logo | absolute_url }}" alt="">
                            <h2>{{ item.heading }}</h2>
                            <p>{{ item.overview }}</p>
                            <div class="row">
                                <div class="col-12 col-md-4 mb-md-0">
                                    <h3 class="mb-0">{{ item.incremental_revenue }}</h3>
                                    <p class="small">Incremental Revenue</p><a class="weight-500" href="#"></a>
                                </div>
                                <div class="col-12 col-md-4 mb-md-0">
                                    <h3 class="mb-0">{{ item.roi }}</h3>
                                    <p class="small">Total ROI per $1 Spent</p><a class="weight-500" href="#"></a>
                                </div>
                                <div class="col-12 col-md-4 mb-md-0">
                                    <h3 class="mb-0">{{ item.incremental_roi }}</h3>
                                    <p class="small">Incremental ROI per $1</p><a class="weight-500" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
</div>

<!-- {% include news.html %}

{% include partners.html %}

{% include staff.html %} -->