---
layout: default
---
<div class="sub">
    <div class="hero sub">
        <div class="bg-cover">
            <div class="container">
                <div class="row poster-feature-row pb-2">
                    <div class="col-12 col-md-7 order-1 order-sm-1 mt-1 text-">
                        {% if page.tagline and page.tagline != "" %}
                        <div data-aos="basic">
                            <h4 class="tag pb-1 mb-1">{{ page.tagline }}</h4>
                        </div>
                        {% endif %}
                        <h1 class="display-4 mb-2" data-aos="basic" data-aos-delay="50">{{ page.heading | default: page.title }}</h1>
                        {% if page.sub_heading and page.sub_heading != "" %}
                        <p class="large mb-4" data-aos="basic" data-aos-delay="150">{{ page.sub_heading }}</p>
                        {% endif %}
                        {% if page.hero_button %}
                        <div class="pb-2 d-flex flex-column flex-md-row" data-aos="basic" data-aos-delay="250">
                            <a href="{{ page.hero_button.href | absolute_url }}" class="btn btn-lg btn-white mb-2 mb-md-0
                                primary">{{ page.hero_button.text }}</a>
                            {% endif %}
                            {% if page.second_button %}
                            <a href="{{ page.second_button.href | absolute_url
                                }}" class="btn btn-lg btn-secondary secondary d-non
                                d-lg-block">{{ page.second_button.text }}</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-4 order-2 order-sm-2 position-relative mt-5 mt-md-0 mb-5 mb-md-0 pb-5 pb-md-0">

                        <!-- Image -->
                        <div class="img-skewed img-skewed-left">
                            <img src="{{ page.headerimage }}" alt="..." class="screenshot img-fluid mw-md-130" data-aos="fade-left" data-aos-delay="300">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bg-gradient-lighter">
        <div class="container pt-4 vw">
            {% if page.mainfeatures %}
            <div class="intro py-2 card-body card shadow-sm offset box-shadow-md" data-aos="basic">
                <div class="row py-1 px-1 px-lg-2">
                    {% for item in page.mainfeatures %}
                    <div class="col-12 col-md-4 mb-4 mb-md-0" data-aos="basic" data-aos-delay="{{ forloop.index | times: 150 }}">
                        <img class="mb-2" src="{{ item.icon | absolute_url }}" alt="" height="65">
                        <h5 class="mb-0 pb-0">{{ item.heading }}</h5>
                        <div class="lighten mt-0 pt-1">{{ item.description }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if page.partners %}
            <div class="logos pt-md-3">
                <div class="container pt-2 pb-3 px-md-5 border-bottom">
                    <!-- <p class="text-left pt-0 mb-2" data-aos="basic" data-aos-delay="100" style="
    font-size: 15.5px;
    letter-spacing: 0.2px;
    color: rgba(77, 78, 98, 0.58);
                        ">Empyr powers online to offline marketing solutions for top consumer-focused brands</p> -->
                    <div class="row justify-content-center
                            justify-content-lg-between text-center align-items-center">
                        {% for logo in page.partners %}
                        <div class="col-4 mb-4 col-md mb-md-0 logo-wrap" data-aos="basic" data-aos-delay="{{ forloop.index | times: 150 }}">
                            <img src="{{ logo | absolute_url }}" class="img-logo" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row pt-md-3 px-2 px-md-0 mt-4 text-center">
                <div class="col-12 mt-4">
                     <img src="{{ page.primary_body_icon | absolute_url }}" alt="" height="116" data-aos="basic">
                    <h1 class="headline mt-0 mx-auto" data-aos="basic" data-aos-delay="100">{{ page.primary_body_copy_headline }}</h1>
                </div>
                <div class="col-md-9 col-xl-8 col-xxl-7 mx-auto">
                    <p class="large" data-aos="basic" data-aos-delay="150">{{ page.primary_body_copy_subheadline }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container full features">
        {% if page.section_one %}
        <section>
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6 col-xxl-6 order-2 order-md-1 mt-n1 pr-xxl-5">
                    <div data-aos="basic">
                        <h4 class="mb-2 tag">{{ page.section_one.tagline }}</h4>
                    </div>
                    <h1 data-aos="basic" data-aos-delay="150" class="pr-xl-4 pr-xxl-5">{{ page.section_one.section_header }}</h1>
                    <img src="/img/headline-separator.svg" alt="" data-aos="basic" data-aos-delay="150">
                    <p class="pr-xl-2 mb-4" data-aos="basic" data-aos-delay="250">{{ page.section_one.section_body_copy }}</p>
                </div>
                <div class="col-12 col-md-6 col-xxl-6 order-2 px-md-0">
                    <img class="img-fluid mw-130 float-left" src="{{ page.section_one.image }}" data-aos="fade-left" data-aos-delay="0" />
                </div>
            </div>
        </section>
        {% endif %}
        {% if page.section_two %}
        <section>
            <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-md-6 col-xxl-6 order-2 px-md-0">
                            <img class="img-fluid mw-130 float-right" src="{{ page.section_two.image | default: '/assets/pictures/image-555x380.png' }}" data-aos="fade-right" data-aos-delay="0" />
                        </div>
                <div class="col-12 col-md-6 order-1 order-md-2 mt-n1 pl-xxl-5 pl-xxl-5">
                    <div data-aos="basic">
                        <h4 class="mb-2 tag">{{ page.section_two.tagline }}</h4>
                    </div>
                    <h1 class= "pr-xl-5" data-aos="basic" data-aos-delay="50">{{ page.section_two.section_header }}</h1>
                    <img src="/img/headline-separator.svg" alt="" data-aos="basic" data-aos="fade-right" data-aos-delay="150">
                    <p class="mb-3" data-aos="basic" data-aos-delay="250">{{ page.section_two.section_body_copy }}</p>
                    {% if page.section_two.stats %}
                    <div class="d-flex flex-nowrap">
                            <div class="order-1 pr-1 pr-lg-2 pr-xl-4">                      <h3 class="display-4 font-weight-normal mb-0">{{ page.section_two.stats.merchants }}</h3>
                                <p class="small text-dark">Total Merchants</p><a class="weight-500" href="#"></a>
                            </div>
                            <div class="order-2 pr-1 pr-lg-2 pr-xl-4">               <h3 class="display-4 font-weight-normal mb-0">{{ page.section_two.stats.cities }}</h3>
                                <p class="small text-dark">Cities with Merchants</p><a class="weight-500" href="#"></a>
                            </div>
                            <div class="order-3">               <h3 class="display-4 font-weight-normal mb-0">{{ page.section_two.stats.metros }}</h3>
                                <p class="small text-dark">Number of Metros</p><a class="weight-500" href="#"></a>
                            </div>
                          </div>
            {% endif %}
                </div>
        </section>
        {% endif %}
        {% if page.section_three.section_header and page.section_three.section_header != "" %}
        <section>
            <div class="row justify-content-between align-items-top">
                <div class="col-12 col-md-6 order-2 order-md-1">
                    <h4 class="mb-2 tag" data-aos="basic">{{ page.section_three.tagline }}</h4>
                    <h1 data-aos="basic" data-aos-delay="50">{{ page.section_three.section_header }}</h1>
                    <img src="/img/headline-separator.svg" alt="" data-aos="basic" data-aos-delay="150">
                    <p class="mb-4" data-aos="basic" data-aos-delay="200">{{ page.section_three.section_body_copy }}</p>
                </div>
                <div class="col-12 col-md-6 order-1 order-md-2 mb-4 mb-md-0">
                    <img class="w-100" src="{{ page.section_three.image }}" data-aos="fade-left" data-aos-delay="300" />
                </div>
            </div>
        </section>
        {% endif %}

            {% if page.show_lift %} 
        <section class="bg-primary-3 text-light text-center has-divider  sub-offset">
      <div class="pt-xl-5">
        <div class="row justify-content-center">
        </div>
        <div class="row justify-content-center mt-6" data-aos="fade-up" data-delay="100">
                <div class="col-lg-12 box-shadow-md p-3 p-md-4 p-lg-5 mb-4" style="
                background: #11131c;
                padding: 45px;
                border-radius: 15px;
            ">
                <h1 class="text-white">Incremental Lift Reporting</h1>
                <p class="lead mb-5 text-white">Cohort analysis on pre-campaign and during-campaign spend</p>
            <img src="https://5bb473bb51a5d9dc2fa2-93ec886eb098830dfa63bc456b2a9d47.ssl.cf5.rackcdn.com/empyr.com/graph2.png" alt="Image" class="rounded box-shadow-md img-fluid">
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    </div>
    {% if page.show_user_testimonials %}
    <section class="bg-gray-25 mt-4">
        <div class="testimonials reviews container full">
            <h1 class="text-center pb-4 mb-4">Consumers love card-linked offers</h1>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for item in page.user_testimonials.testimonials %}
                    <div class="swiper-slide col-12 col-md-6 eq">
                        <div class="card card-body box-shadow-md">
                            <p class="lead mb-2 mt-0">"{{ item.quote }}"</p>
                            <div class="media align-items-center">
                                <div class="mr-2 rounded-circle overflow-hidden">
                                    {% if item.user_photo == "" %}
                                    <img class="rounded" src="/uploads/2019/05/icon-place.svg" width="60" height="60" />
                                    {% else %}
                                    <img class="rounded" src="{{ item.user_photo | absolute_url | default:"/uploads/2019/05/icon-place.svg" | absolute_url }}" width="60" height="60" />
                                    {% endif %}
                                </div>
                                <div class="media-body">
                                    <p class="mb-0"><span class="large
                                                weight-500">{{ item.person_name }}</span>
                                    </p>
                                    <p class="small mb-0">- {{
                                            item.program_name }} user</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    {% endif %}
    {% if page.all_features %}
    <div class="solutions bg-g50">
        {% else %}
        <div class="solutions bg-g50">
            {% endif %}
            <div class="container text-left">
                {% if page.all_features %}
                <h1 class="mb-4 text-md-center">{{ page.all_features_headline }}</h1>
                <div class="row pt-3 text-m-center">
                    {% for item in page.all_features %}
                    <div class="col-12 col-md-4 mb-2" data-aos="basic" data-aos-anchor=".bg-g50" data-aos-delay="{{ forloop.index | times: 150 }}">
                        <div class="card py-1 py-md-2 px-1 px-lg-2 box-shadow-md">
                            <div class="card-body">
                                <img class="mb-2" src="{{ item.icon | absolute_url }}" alt="" width="55">
                                <h5 class="mb-0">{{ item.heading }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if page.show_case_studies %}
                <div class="text-left">
                    <div class="row pt-12 pt-5">
                        <div class="col-12 col-md-6">
                            <h1>Case Studies Title</h1>
                            <p>Case Studies Sub-text</p>
                        </div>
                    </div>
                    <div class="row pt-3">
                        {% for item in page.case_studies %}
                        <div class="col-12 col-md-4 mb-3 mb-md-2">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <img class="mb-2" src="{{ item.partner_logo | absolute_url }}" alt="">
                                    <h2>{{ item.heading }}</h2>
                                    <p>{{ item.overview }}</p>
                                    <div class="row">
                                        <div class="col-12 col-md-4 mb-md-0">
                                            <h3 class="mb-0">{{ item.incremental_revenue }}</h3>
                                            <p class="small">Incremental Revenue</p><a class="weight-500" href="#"></a>
                                        </div>
                                        <div class="col-12 col-md-4 mb-md-0">
                                            <h3 class="mb-0">{{ item.roi }}</h3>
                                            <p class="small">Total ROI per $1 Spent</p><a class="weight-500" href="#"></a>
                                        </div>
                                        <div class="col-12 col-md-4 mb-md-0">
                                            <h3 class="mb-0">{{ item.incremental_roi }}</h3>
                                            <p class="small">Incremental ROI per $1</p><a class="weight-500" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
