---
layout: default
---
<div class="sub">
    <section class="pt-5" data-reading-position="">
        <div class="container py-1 py-md-5">
            <div class="row pb-5">
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            {% if page.headline and page.headline != "" %}
                            <h1 class="my-2">{{ page.headline }}</h1>
                            <hr class="mb-4">
                            {% endif %}
                            <article class="article">
                                {% if page.intro_paragraph and page.intro_paragraph != "" %}
                                <p class="lead mt-4">
                                    {{ page.intro_paragraph }}
                                </p>
                                {% endif %}
                                {% if page.custom_css %}
                                {{ page.custom_css }}
                                {% endif %}
                                {% if page.custom_text %}
                                {{ page.custom_text }}
                                {% endif %}

                                {% if page.custom_copy %}
                                {% for item in page.custom_copy %}
                                {{ item.custom_text }}

                                {% endfor %}
                                {% endif %}
                                <div class="modifier">
                                    {{ content }}
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
